<i class="fas fa-acquisitions-incorporated    "></i><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9aa89a3462.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <!--Css file Link-->
  <link th:href="@{/css/about.css}" rel="stylesheet" type="text/css">
  <!--JavaScript scripts -->
  <script type="text/javascript" th:src="@{/js/about.js}"></script>
	
  
    
</head>


<!--Nav bar added here-->
<div class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand">GT Apparel</a>
	  
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a href="/index" class="nav-item nav-link active">Home</a></li>
          <li><a href="/about" class="nav-item nav-link">About Us</a></li>
          <li><a href="/product_catalog" class="nav-item nav-link">Products</a></li>
          <li><a href="/contact" class="nav-item nav-link active">Custom Order</a></li>
          <li><a href="/login" class="nav-item nav-link">Login</a></li>
		  <li><a href="/itemform" class="nav-item nav-link">New Item Form</a></li>
        </ul>
      </div>
    </div>
  </nav>

  </div>
  
  <!--END of nav bar-->

<body>
                        
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <section id="team" class="white-bg padding-top-bottom">
		<div class="container bootstrap snippets bootdey">
			<h1 class="section-title text-center page-title">Meet our team</h1>
			<p class="section-description text-center">We are a small team with great skills. See the faces behind the lines of code. </p>	
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
					<img class="img-responsive img-center img-thumbnail img-circle" src="https://i.ibb.co/pRQq1xs/IMG-5201.jpg" alt="">
					<h4>Channel Harris</h4>
					<p class="title">JavaScript Full Stack Developer Student</p>
                    <p class="location">Bronx, NY Age: 25</p>
				</div>
				<div class="col-sm-7">
					<div class="details">
						<p>Meticulous problem solver with a passion for web development and digital marketing. Interested in obtaining a career that would allow me the opportunity to further enhance my knowledge in both web development and digital marketing.</p>
						<ul class="social-content">
							<li><a href="mailto:csharris520@gmail.com"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="https://www.linkedin.com/in/channelharris/"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row member-content right">
				<div class="col-sm-3 col-sm-push-8 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="https://i.imgur.com/4sII7cF.jpg" alt="">
					<h4>Kaseem Richards</h4>
					<p class="title">JavaScript Full Stack Developer Student</p>
          <p class="location"> Newark, Delaware Age: 31</p>
				</div>
				<div class="col-sm-7 col-sm-pull-2">
					<div class="details">
            <p>Trained in HTML, CSS, JavaScript, Bootstrap and Java. Learning new languages and libraries is a passion of his.</p>
						<ul class="social-content">
							<li><a href="kaseemrichards90@gmail.com"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kaseem-richards/"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="https://res.cloudinary.com/meowthree/image/upload/v1646321929/LinkedInFinal_jr26xd.png" alt="">
					<h4>Yiyeon Brown</h4>
					<p class="title">JavaScript Full Stack Developer Student</p>
          <p class="location"> Gaithersburg, MD Age: 24</p>
				</div>
				<div class="col-sm-7   ">
					<div class="details">
            <p>Full stack developer who admires well-crafted visuals and narratives. Sees programming as a uniquely great medium for mixing creativity and puzzle solving to produce practical applications.</p>
						<ul class="social-content">
							<li><a href="mailto:yiyeon@protonmail.com"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="https://www.linkedin.com/in/yiyeonbrown/"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

            <div class="row member-content right">
				<div class="col-sm-3 col-sm-push-8 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="https://media-exp1.licdn.com/dms/image/D4E35AQECL3AYoLO56w/profile-framedphoto-shrink_100_100/0/1621911482762?e=1646506800&v=beta&t=TJycBNHJqD79m6ntJZsiMvqVNO81Yc8ArKJss3GIq-c" alt="">
					<h4>Zoe Chalk</h4>
					<p class="title">JavaScript Full Stack Developer Instructor</p>
          <p class="location"> Fayetteville, North Carolina </p>
				</div>
				<div class="col-sm-7 col-sm-pull-2">
					<div class="details">
						<p>Detail oriented problem solver with a passion for web development. If it wasn't for her this project would be royally screwed! Even though shes our teacher we made her and honorary member lol. You are appreciated.</p>
						<ul class="social-content">
							<li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="https://www.linkedin.com/in/melese-wajino-1780235b/"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
            <div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="" alt="">
					<h4>Eyobel (unknown)</h4>
					<p class="title">JavaScript Full Stack Developer Student</p>
				</div>
				<div class="col-sm-7   ">
					<div class="details">
						<p>Didn't write bio for about us page or contribute what so ever -_- 
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<ul class="social-content">
							<li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
							<li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
							<li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
							<li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</body>


<!--footer START-->
<footer id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-3 column">
				<h4>Information</h4>
				<ul class="list-unstyled">
					<li><a href="/product_catalog">Products</a></li>
					<li><a href="/index#gallery">Photo Gallery</a></li>
					<li><a href="/index#featured">Featured Products</a></li>
					<li><a href="/about">Developers</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3 column">
				<h4>More</h4>
				<ul class="list-unstyled">
					<li><a href="/contact">Custom Order</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/index">Terms &amp; Conditions</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3 column">
				<h4>Stay Connected</h4>
				<form>
					<div class="form-group">
					  <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
					</div>
					<div class="form-group">
					  <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-3 text-right">
				<ul class="list-inline">
				  <li><a rel="nofollow" href="" title="Twitter"><i class="fas fa-envelope fa-3x"></i></a>&nbsp;</li>
				  <li><a rel="nofollow" href="" title="Facebook"><i class="fab fa-linkedin-in fa-3x"></i></a>&nbsp;</li>
				  <li><a rel="nofollow" href="" title="Github"><i class="fab fa-github fa-5x"></i></a></li>
				</ul>
				<h4>Connect with Us!</h4>
			</div>
		</div>
		<br/>
		<span class="pull-right text-muted small">GT Apparel ©2022 Generation Graduates</span>
	</div>
  </footer>
   <!--Footer END -->
  
  
</html>