<i class="fas fa-acquisitions-incorporated    "></i><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>New Item Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9aa89a3462.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <!--Css file Link-->
  <link rel="stylesheet" th:href="@{/css/itemForm.css}">
  <!-- JavaScript scripts -->
  <script type="text/javascript" th:src="@{/js/itemForm.js}"></script>
  <script type="text/javascript" th:src="@{/js/itemsController.js}"></script>
    
</head>


<!--Nav bar added here-->
<div class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand">GT Apparel</a>
	  
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a href="/home" class="nav-item nav-link active">Home</a></li>
          <li><a href="/About2" class="nav-item nav-link">About Us</a></li>
          <li><a href="/product_catalog" class="nav-item nav-link">Products</a></li>
          <li><a href="/contactUs" class="nav-item nav-link active">Custom Order</a></li>
          <li><a href="/logIn" class="nav-item nav-link">Login</a></li>
          <li><a href="/itemForm" class="nav-item nav-link">New Item Form</a></li>
        </ul>
      </div>
    </div>
  </nav>

  </div>
  
  <!--END of nav bar-->


  <body>

    <!--Form Section -->
    
    <div class="container">
        <h1 class="my-5" id="heading">New Item Form</h1>
        <div class="row">
            <div class="col">
                <form id="newItemForm">
                    <div class="form-group">
                        <label class="form-section" for="newItemName">Name</label>
                        <input type="text" class="form-control" id="newItemName">
                    </div>
                    <div class="form-group">
                        <label class="form-section" for="newItemDescription">Description</label>
                        <textarea  class="form-control" id="newItemDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-section"  for="newItemImageUrl">Image URL</label>
                        <input type="text" class="form-control" id="newItemImageUrl">
                    </div>                 
                    <button id="saveItem" type="submit" class="btn btn-primary btn-block">Save Item</button>
                </form>
            </div>
        </div>     
    </div>

  </body>

    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="itemsController.js"></script>
    <script src="item-form.js"></script>
  </body> -->


<!--footer START-->
<footer id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-3 column">
				<h4>Information</h4>
				<ul class="list-unstyled">
					<li><a href="product_catalog.html">Products</a></li>
					<li><a href="home.html#gallery">Photo Gallery</a></li>
					<li><a href="home.html#featured">Featured Products</a></li>
					<li><a href="About2.html">Developers</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3 column">
				<h4>More</h4>
				<ul class="list-unstyled">
					<li><a href="contactUs.html">Custom Order</a></li>
					<li><a href="logIn.html">Login</a></li>
					<li><a href="About2.html">About Us</a></li>
					<li><a href="home.html">Terms &amp; Conditions</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3 column">
				<h4>Stay Connected</h4>
				<form>
					<div class="form-group">
					  <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
					</div>
					<div class="form-group">
					  <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-3 text-right">
				<ul class="list-inline">
				  <li><a rel="nofollow" href="" title="Twitter"><i class="fas fa-envelope fa-3x"></i></a>&nbsp;</li>
				  <li><a rel="nofollow" href="" title="Facebook"><i class="fab fa-linkedin-in fa-3x"></i></a>&nbsp;</li>
				  <li><a rel="nofollow" href="" title="Github"><i class="fab fa-github fa-5x"></i></a></li>
				</ul>
				<h4>Connect with Us!</h4>
			</div>
		</div>
		<br/>
		<span class="pull-right text-muted small">GT Apparel ©2022 Generation Graduates</span>
	</div>
  </footer>
   <!--Footer END -->
  


</html>