<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>product catalog - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9aa89a3462.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>

     <!--Css Style Sheet -->
    <link th:href="@{/css/productPage.css}" rel="stylesheet" >
    <!-- Website scripts JS -->
    <script type="text/javascript" th:src="@{/js/productPage.css}"></script>

</head>

<!--Nav bar added here-->
<div class="header-area overlay">
  <nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand">GT Apparel</a>
  
    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a href="/home" class="nav-item nav-link active">Home</a></li>
        <li><a href="/About2" class="nav-item nav-link">About Us</a></li>
        <li><a href="/product_catalog" class="nav-item nav-link">Products</a></li>
        <li><a href="/contactUs" class="nav-item nav-link active">Custom Order</a></li>
        <li><a href="/logIn" class="nav-item nav-link">Login</a></li>
        <li><a href="/itemForm" class="nav-item nav-link">New Item Form</a></li>
      </ul>
    </div>
  </div>
</nav>

</div>

<!--END of nav bar-->



<body>
<div class="container bootstrap snipets">
   <h1 class="text-center text-muted" id="page-title">Products</h1>
   <div class="row flow-offset-1">
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645776561/product%20flat%20lays%20/Product-5_bkrvec.png" alt=""></a>
         <div class="caption">
           <h6><a href="#">Strawberry Blondie T-Shirt</a></h6><span class="price">
             <del>$30.00</del></span><span class="price sale">$19.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645776480/product%20flat%20lays%20/Product-2_twkxon.png" alt=""></a>
         <div class="caption">
           <h6><a href="#">Starblunts T-Shirt</a></h6><span class="price">
             <del>$30.00</del></span><span class="price sale">$19.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645776341/product%20flat%20lays%20/Product-9_savvjy.png" alt="Man in a red hoodie" ></a>
         <div class="caption">
           <h6><a href="#">Friday meets Boondocks T-Shirt</a></h6><span class="price">
             <del>$30.00</del></span><span class="price sale">$19.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645775699/product%20flat%20lays%20/Product-3_tivqn2.png" alt= "" ></a>
         <div class="caption">
           <h6><a href="#">Mask Up Long Sleeve T-Shirt</a></h6><span class="price">
             <del>$45.00</del></span><span class="price sale">$34.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645775578/product%20flat%20lays%20/Product-5_hpdjj4.png" alt=""></a>
         <div class="caption">
           <h6><a href="#"></a>Fright Fest Mystery Van T-Shirt</h6><span class="price">
            <del>$45.00</del></span><span class="price sale">$34.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645775551/product%20flat%20lays%20/Product-3_pnlihc.png" alt="Man in shirt that says awesome"></a>
         <div class="caption">
           <h6><a href="#">Boondocks V-lone T-Shirt</a></h6><span class="price">
             <del>$45.00</del></span><span class="price sale">$34.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645775029/product%20flat%20lays%20/Product-7_yx4nhk.png" alt="Woman in a Gucci Shirt"></a>
         <div class="caption">
           <h6><a href="#">Backwood Barbie Hoodie</a></h6><span class="price">
             <del>$60.00</del></span><span class="price sale">$45.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645774990/product%20flat%20lays%20/Product-4_povyc6.png" alt=""></a>
         <div class="caption">
           <h6><a href="#">Tupac HipHop History Hoodie</a></h6><span class="price">
             <del>$60.00</del></span><span class="price sale">$45.99</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://res.cloudinary.com/dqq0jlwxi/image/upload/v1645774660/product%20flat%20lays%20/Product-4_jpjxev.png" alt="Man in shirt that says damn and has boondocks characters"></a>
         <div class="caption">
           <h6><a href="#">Budtender Hoodie</a></h6><span class="price">
             <del>$60.00</del></span><span class="price sale">$45.99</span>
         </div>
       </div>
     </div>
   </div>
 </div>
 </body>

 
<!--footer START-->
<footer id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-3 column">
				<h4>Information</h4>
				<ul class="list-unstyled">
					<li><a href="/product_catalog">Products</a></li>
					<li><a href="/home#gallery">Photo Gallery</a></li>
					<li><a href="/home#featured">Featured Products</a></li>
					<li><a href="/About2">Developers</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3 column">
				<h4>More</h4>
				<ul class="list-unstyled">
					<li><a href="/contactUs">Custom Order</a></li>
					<li><a href="/logIn">Login</a></li>
					<li><a href="/About2">About Us</a></li>
					<li><a href="/home">Terms &amp; Conditions</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3 column">
				<h4>Stay Connected</h4>
				<form>
					<div class="form-group">
					  <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
					</div>
					<div class="form-group">
					  <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-3 text-right">
				<ul class="list-inline">
				  <li><a rel="nofollow" href="" title="Twitter"><i class="fas fa-envelope fa-3x"></i></a>&nbsp;</li>
				  <li><a rel="nofollow" href="" title="Facebook"><i class="fab fa-linkedin-in fa-3x"></i></a>&nbsp;</li>
				  <li><a rel="nofollow" href="" title="Github"><i class="fab fa-github fa-5x"></i></a></li>
				</ul>
				<h4>Connect with Us!</h4>
			</div>
		</div>
		<br/>
		<span class="pull-right text-muted small"><p>GT Apparel</p> ©2022 Generation Graduates</span>
	</div>
  </footer>
   <!--Footer END -->
  
</html>

